
body{
    margin: 0;
    background-color: gainsboro;

}
.nav{
    background-color: grey;
    color: #F3170C;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;

}
.site-title{
    font-size: 2rem;
    
}
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;


}
.nav a{
    color: inherit;
    align-items: center;
    text-decoration: none;
    height: 100%;
    display: flex;
    padding: .25rem;
}

.nav li:hover{
    background-color: #555;;
}
h1{
    color: #415078;
}
